@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
  .navigation__links {
    display: none;
  }

  .feature__box__caption {
    font-size: 1.8rem;
  }

  .feature__box__text {
    font-size: 1.5rem;
  }

  .organize__title {
    font-size: 3rem;
  }

  .organize__caption {
    font-size: 1.6rem;
  }

  .prototype__content {
    padding-left: 6rem;
  }
  .prototype__text__desktop {
  }
  .prototype__title__desktop {
    font-size: 3rem;
  }
  .prototype__banner {
    flex-basis: 80%;
  }
  .prototype__content {
    flex-basis: 20%;
  }
}

@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }

  .navigation__bar {
    display: block;
  }

  .navigation__box {
    display: block;
  }

  .menu__mobile__cover {
    display: block;
  }

  .organize__wrapper {
    flex-direction: column;
    row-gap: 4rem;
    text-align: center;
    align-items: center;
  }

  .organize__content {
    text-align: center;
  }

  .organize__title {
    margin: 0 auto;
  }

  .organize__btn__desktop {
    display: none;
  }

  .organize__caption {
    margin: 2rem auto;
  }

  .organize__btn__mobile {
    display: block;
    margin: 0 auto;
    margin-top: 4rem;
  }

  .prototype__wrapper {
    flex-direction: column;
  }

  .prototype__content {
    padding: 0;
  }

  .prototype__text__mobile {
    display: block;
  }

  .prototype__title__mobile {
    display: block;
  }

  .prototype__text__desktop {
    display: none;
  }
  .prototype__title__desktop {
    display: none;
  }

  .prototype__box__title {
    text-align: center;
  }
  .prototype__box__caption {
    text-align: center;
  }
  .prototype__banner {
    margin-top: 4rem;
  }

  .prototype__text__mobile {
    display: block;
  }

  .prototype__caption__mobile {
    display: block;
  }

  .prototype__title__mobile {
    display: block;
  }
}

@media screen and (max-width: 576px) {
  .header {
    height: 90vh;
  }

  .header__content {
    max-width: 29rem;
  }

  .header__title {
    font-family: var(--font-regular);
    font-size: 3.7rem;
  }

  .header__description {
    display: none;
  }

  .header__description__mobile {
    display: block;
    max-width: 20rem;
    margin: 0 auto;
    margin-top: 2rem;
  }
  .feature__wrapper {
    row-gap: 3rem;
    column-gap: 4rem;
  }
  .feature__title {
    font-size: 2.2rem;
  }

  .feature__description {
    font-size: 1.4rem;
  }

  .feature__play {
    width: 5rem;
    height: 5rem;
  }

  .feature__icon__pay {
    width: 1rem;
  }

  .organize__title {
    font-size: 2rem;
  }

  .organize__caption {
    word-spacing: normal;
    font-size: 1.4rem;
  }

  .prototype__input__box {
    flex-direction: column;
  }
}

@media screen and (max-width: 300px) {
  .header__logo {
    width: 10rem;
  }

  .header__title {
    font-size: 2.5rem;
  }

  .header__description {
    font-size: 1.3rem;
  }

  .btn--white {
    font-size: 1.2rem;
    padding: 0.8rem 3rem;
  }

  .feature__box__caption {
    font-size: 1.6rem;
  }

  .feature__box__text {
    font-size: 1.4rem;
  }

  .feature__play {
    width: 4rem;
    height: 4rem;
  }

  .organize__btn__mobile {
    font-size: 1.2rem;
    padding: 1rem 3rem;
  }

  .prototype__text__mobile {
    font-size: 1.4rem;
  }

  .prototype__caption__mobile {
    font-size: 1.2rem;
  }

  .prototype__title__mobile {
    font-size: 2rem;
  }

  .prototype__btn{
    font-size: 1.2rem;
  }
}
